/* styles.css */
body {
  background-image: linear-gradient(to right, #23b8a2, #264b82);
  }

  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    width: auto;
    background-image: linear-gradient(to right, #23b8a2, #264b82);
    /* background-repeat: round repeat; */
    margin: 0 auto;
    font-family: "Raleway", sans-serif; 
    display: flex;
    flex-direction: column;
}

:root {
    --main-color: #CD5C08;
    --secondary-color: #FFF5E4;
    --tertiary-color: #C1D8C3;
    --quaternary-color: #6A9C89;
    --shadow: rgba(0, 0, 0, 0.25);
    --mild-shadow: 5px 5px 10px var(--shadow);
    --bottom-white-shadow: 0 10px 10px rgba(255, 255, 255, 0.75);
    --strong-shadow: rgba(0, 0, 0, 0.75);
}
